<h2>Exercice (fr)</h2>
<p>
  Ex4Component est checké par la détection de changement (ainsi que tous les autres composants présents à l'écran)
  chaque seconde à cause du setInterval. Utiliser les services NgZone et ChangeDetectorRef pour qu'il ne soit checké
  que lorsque le nombre est un multiple de 10.
</p>
<h2>Exercise (en)</h2>
<p>
  Ex4Component is checked by detect changes (with all others visible components)
  every second because of setInterval. Use NgZone et ChangeDetectorRef services so it will be checked only if
  count is a multiple of 10.
</p>

<p>{{cptCanBeDividedBy10}} can be divided by 10</p>
