<h2>Exercice (fr)</h2>
<p>
  Remplacer les fonctions double et triple par des Pipes de sorte à ce que la fonction
  ne soit appeler que lorsque la value à calculer est modifiée.
</p>
<h2>Exercise (en)</h2>
<p>
  Replace double and triple functions with Pipes so the function would be called only
  when value to be computed would changes.
</p>
<p>Double of <input [(ngModel)]="nb1" /> is {{double(nb1)}}</p>
<p>Triple of <input [(ngModel)]="nb2" /> is {{triple(nb2)}}</p>
